<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<title>Ajouter Absence</title>
<head>
<meta charset="UTF-8">

<title>Ajouter Absence</title>
</head>
<body>

	<div layout:fragment="container2">
		<div class="container spacer col-md-6 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading"><b>Ajouter Absence</b></div>
				<div class="panel-body">

					<form th:action="@{/AjouterAbsence}" method="post" >
					
						<div class="form-group"> 
							<label class="control-label">Classe:</label> 
							<input type="text" class="form-control" name="classe" th:value="${classe.id}" readonly="readonly"  />
							
						</div>
					 
					 	<div class="form-group"> 
							<label class="control-label">Etudiant:</label> 
							<input type="text" class="form-control" name="etudiant" th:value="${etudiant.matricule}" readonly="readonly"  />
						</div>

						<div class="form-group">
							<label class="control-label">Date de la Séance:</label> 
							<input type="date" class="form-control" name="date_seance" />
							<span class="text-danger" th:errors="${emc.date_seance}"></span>
						</div>
												
						<div class="form-group">
							<label class="control-label">Séance:</label> 
							<input type="number" class="form-control" value="0" name="nbr_seance" placeholder="Taper 1 ou 2"/>
							<span class="text-danger" th:errors="${emc.nbr_seance}"></span>
						</div>

						<div class="form-group">
							<label for="sel1">Choisir une matiere :</label> 
							
							<select name="matiere" class="form-control" th:value="emc.matiere">
								<option th:value="0">-- Selectionner un matiere --</option>
								<option th:each="matiere : ${matieres}" th:value="${matiere.id}" th:text="${matiere.label}"></option>
							</select>
						</div>

						<div>
							<button type="submit" class="btn btn-primary">Enregistrer</button>
							<a th:href="@{/listEtudiantParClasse(classe= ${classe.id})}" class="btn btn-primary">Annuler</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>